{% extends 'layout.html.twig' %}

{% block title %}Connecte toi!{% endblock %}

{% block main %}
<div class="flex items-center justify-center min-h-screen bg-gray-100 py-12 px-4 sm:px-6 lg:px-8 w-full">

    {% if app.user %}
        <div class="mb-3">
            Vous êtes déjà connecté en tant que {{ app.user.userIdentifier }}. <a class="text-blue-700 hover:underline" href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% else %}
        <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-md">

            <h1 class="text-2xl font-bold mb-6 text-center">Veuillez vous connecter</h1>

            <form method="post" class="space-y-6">
                <div class="space-y-4">
                    <div>
                        <label for="inputEmail" class="block text-sm font-medium text-gray-700">Email</label>
                        <input type="email" name="email" id="inputEmail" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" autocomplete="email" required autofocus>
                    </div>
                    <div>
                        <label for="inputPassword" class="block text-sm font-medium text-gray-700">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" autocomplete="current-password" required>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="flex items-center">
                        <input type="checkbox" name="_remember_me" id="remember_me" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
                        <label for="remember_me" class="ml-2 block text-sm text-gray-900">
                            Se souvenir de moi
                        </label>
                    </div>

                    {% if error %}
                        <div class="alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                </div>

                <div class="mt-6">
                    <button type="submit" name="login" class="w-full bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded">
                        Connexion
                    </button>
                </div>

                <div class="mt-4 text-center">
                    <span>Vous n'avez pas encore de compte ? <a class="text-blue-700 hover:underline" href="{{ path('app_register') }}">Inscrivez-vous !</a></span>
                </div>
            </form>
        </div>
    {% endif %}
</div>
{% endblock %}
