{% extends 'layout.html.twig' %}

{% block title %}Changement du mot de passe{% endblock %}

{% block main %}
<div class="flex items-center justify-center min-h-screen bg-gray-100 py-12 px-4 sm:px-6 lg:px-8 w-full">
    <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-md">

        <h1 class="text-2xl font-bold mb-6 text-center">Changement du mot de passe</h1>

        {{ form_errors(passwordForm) }}

        {{ form_start(passwordForm, { 'attr': { 'class': 'space-y-6' } }) }}
            <div class="space-y-4">
                <div>
                    {{ form_label(passwordForm.plainPassword.first, null, { 'label_attr': { 'class': 'block text-sm font-medium text-gray-700' } }) }}
                    {{ form_widget(passwordForm.plainPassword.first, { 'attr': { 'class': 'mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' } }) }}
                    {{ form_errors(passwordForm.plainPassword.first) }}
                </div>
                <div>
                    {{ form_label(passwordForm.plainPassword.second, null, { 'label_attr': { 'class': 'block text-sm font-medium text-gray-700' } }) }}
                    {{ form_widget(passwordForm.plainPassword.second, { 'attr': { 'class': 'mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' } }) }}
                    {{ form_errors(passwordForm.plainPassword.second) }}
                </div>

                <div class="mt-6">
                    <button type="submit" class="w-full bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded">
                        Modifier le mot de passe
                    </button>
                </div>
            </div>
        {{ form_end(passwordForm) }}
    </div>
</div>
{% endblock %}
