{% extends 'layout.html.twig' %}

{% block title %}Changement du mot de passe{% endblock %}

{% block main %}
    <h1>Changement du mot de passe</h1>

    {{ form_errors(passwordForm) }}

    {{ form_start(passwordForm) }}
        {{ form_row(passwordForm.plainPassword) }}
        {{ form_row(passwordForm.confirmPassword) }}

        <button type="submit" class="btn">Modifier le mot de passe</button>
    {{ form_end(passwordForm) }}
{% endblock %}
